{% extends "base.html" %}
{% load extra_filters %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <h1>Enter the Spotify URI of the song you want:</h1>
        <div>
            <input id="song" class="text" type="text" value="spotify:track:6EuArluBSbxlFs4vtQ3cYR">
            <butonn class="btn btn-success play">Play the song</button>
        </div>
        <h1 class="placeholder"></h1>
    </div>
{% endblock %}

{% block scripts %}
    <!-- <script type="text/javascript" src="{% static 'js/autobahn.js' %}"></script> -->
    <script type="text/javascript" src="{% static 'js/websockets.js' %}"></script>
{% endblock %}